<div class="chat-container">
  <div class="chat-title">ChatGPT Cencosud LabTest</div>
  <div class="chat-messages" #chatMessages>
    <div class="messages-wrapper">
      <div *ngIf="this.activateResponse" class="message message-incoming">
        <p class="message-text">{{ this.assistantResponse }}</p>
      </div>
      <ng-container *ngFor="let message of messages.reverse()">
        <div class="message" [ngClass]="{'incoming': message.incoming, 'outgoing': !message.incoming}">
          <p class="message-text">{{ message.text }}</p>
        </div>
      </ng-container>
    </div>

  </div>
  <div class="chat-input">
    <input type="text" [(ngModel)]="newMessageText" placeholder="Escribe un mensaje..." (keyup.enter)="sendMessage()">
    <button class="send-button" (click)="sendMessage()">Enviar</button>
  </div>
</div>
